<%inherit file="/base.html"/>

<%block name="content">
<div class="king-panel8 m15">
    <div class="king-panel8-header">
        <h3 class="king-panel8-title king-info">发送邮件</h3>
    </div>
    <div class="king-panel8-content pt25">
        <form class="form-horizontal">
            <div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">邮箱地址：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control bk-valign-top" id="receiver" placeholder="请输入收件人邮箱地址"> </div>
            </div>
            <div class="form-group clearfix ">
                <label class="col-sm-3 control-label bk-lh30 pt0">邮件标题：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control bk-valign-top" id="title" placeholder="请输入邮件标题"> </div>
            </div>
            <div class="form-group has-feedback clearfix ">
                <label class="control-label col-sm-3 pt0" for="introduction">邮件内容：</label>
                <div class="col-sm-9">
                    <textarea class="form-control" rows="10" id="content" placeholder="请输入邮件内容"></textarea>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="button" id="sendMail" class="king-btn mr10  king-success">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
</%block>

<script type="text/javascript">
    $(function(){
        $("#sendMail").click(function(){
            $.ajax({
                type:"POST",
                url:"./send/",
                data:{"title":$("#title").val(),"receiver":$("#receiver").val(),"content":$("#content").val()},
                success:function(returnData){
                    alert(returnData.message);
                }
            });
        });
    });
</script>